body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 36, 36);
}

section{
    margin: 0;
    width: 40vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    width: 36vw;
    height: 56vh;
    margin: 5px 15px 5px 15px;
    background: rgb(220, 248, 198);
    border-radius: 6px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-bottom: 55px solid transparent;
    border-right: 40px solid rgb(220, 248, 198);
    position: absolute;
    top: 0;
    left: -30px
}

.rosto{
    width: 275px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: radial-gradient(rgb(255, 234, 41), rgb(255, 234, 41),rgb(245, 209, 8), rgb(173, 104, 0), rgb(99, 51, 5));
    border-radius: 50%;
}

.rosto>div:nth-child(1){
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.olhos{
    width: 30px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 50%;
    background-image: linear-gradient( #4B370B, #895021)
}

.brilho{
    height: 50%;
    width: 56%;
    border-radius: 50%;
    background-image: linear-gradient(rgba(255, 254, 252, 0.822), rgba(110, 66, 0, 0));
}

.boca{
    width: 55px;
    height: 65px;
    border-radius: 50%;
    background-image: linear-gradient( #4B370B, #895021 )
}

img{
    width: 300px;
    height: 300px;
}